.newJob-Form-container {
  background: #ffffff;
  align-items: center;
  gap: 6.4rem;
  width:90%;
  border: 2px solid  #F0F5F7;
  margin: 0 auto;
  padding: 5%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;

  & .title{
  /* margin-bottom: 40px;  */
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 15px;
  /* font-family: "Nunito", sans-serif; */
  margin-bottom: 10px;
  }
  & label{
    font-weight: 600;
    font-size: 15px;
    /* font-family: "Nunito", sans-serif; */
    margin-bottom: 10px;
  }
  & input, textarea{
    border: 1px solid transparent;
    background: #F0F5F7;
    font-weight: 500;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  #jobType{
    background: #F0F5F7;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    & option{
      padding: 8px 16px;
      height: 30px;
    }
  }
  & input[type="text"]:focus ,input[type="email"]:focus, textarea:focus{
    border: 1px solid #0062FF
    /* outline: 2px dashed blue; */
  }
  & input[type="submit"]{
background: #0062FF;
color: #fff;
font-weight: 600;
  }
  & input[type="file"]{
width:100%;
background: #fff;
padding-left: 0;
      }

      @media(min-width: 768px) {
width:80%;
      }
}
.input__box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}
.user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}